<div class="container" style="border-bottom: 1px solid rgba(0, 0, 0, 0.05);">
  <div class="header">
    <img src="../../../assets/logos/outsett-ps 1.png" />
    <div style="display: flex; flex-direction: row; align-items: center">
      <nav>
        <ul>
          <li><a href="">SERVIÇOS</a></li>
          <li><a href="">OUTSETT</a></li>
          <li><a href="">CONTEÚDOS</a></li>
        </ul>
      </nav>
      <button>FALE CONOSCO</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="secao1">
    <div>
      <h1>
        A inovação que você <br />
        precisa no seu negócio.
      </h1>
      <button>FALE COM UM ESPECIALISTA</button>
    </div>
    <img src="../../../assets/secao1.png" alt="" />
  </div>
  <img
    src="../../../assets/rectangle.png"
    alt=""
    style="position: absolute; right: 0; z-index: -2"
  />
</div>

<div class="container" style="background-color: #000; height: 555px">
  <div class="secao2">
    <div>
      <h1>Como podemos te ajudar?</h1>
      <p>
        Cada uma das opções abaixo abre um leque de serviços <br />
        e produtos sob medida para a necessidade de sua empresa.
      </p>
      <div
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 74px;
        "
      >
        <div class="card">Planejamento</div>
        <div class="card">Criação e Prototipação de Interfaces</div>
        <div class="card">Construção de Aplicações Mobile</div>
        <div class="card">Soluções DevOps</div>
        <div class="card">Outsourcing</div>
        <div class="card">Construção de Aplicações WEB</div>
      </div>
    </div>
    <img src="../../../assets/rafiki.png" alt="" />
  </div>
</div>

<div class="container" style="background-color: #fff; margin-top: 90px">
  <div class="secao3">
    <div class="secao3-1">
      <h1>EXPERIÊNCIA</h1>
      <p>
        Nossos profissionais trabalham em projetos e desafios importantes todos
        os dias, utilizando as tecnologias mais renomadas do mercado.
      </p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 74px;
        justify-content: flex-end;
      "
    >
      <div class="card2"></div>
      <div class="card2"></div>
      <div class="card2"></div>
      <div class="card2"></div>
    </div>
  </div>
</div>

<div class="container" style="background-color: #f5f5f5; margin-top: 90px">
  <div class="secao4">
    <img src="../../../assets/cuate.png" alt="" />
    <div>
      <h1>CONTATO</h1>
      <input placeholder="Digite seu nome" class="input"/>
      <input placeholder="Digite seu email" class="input"/>
      <input placeholder="Digite seu telefone" class="input"/>
      <button style="width: 450px; ">enviar</button>
    </div>
  </div>
</div>
